#login {
    min-height: 100vh;
}

#login img {
    margin: 1rem auto;
    max-width: 10rem;
    transition: all 600ms ease-in-out;
}

#login img:hover {
    transform: scale(1.01);
}

#form {
    margin: 2rem 20rem 0 20rem;
    padding: 1rem;
    border: 2px solid var(--grey-color);
    border-radius: 0.5rem;
    background-color: var(--dark-color);
}

#form .input-box {
    margin: 1rem;
}

#form .input-box input {
    margin: 1rem;
    color: var(--dark-color);
}

#login .current-user {
    display: flex;
    flex-direction: column;
    margin: 2rem 20rem 1rem 20rem;
    padding: 2rem;
    border: 2px solid var(--grey-color);
    border-radius: 0.5rem;
    background-color: var(--dark-color);
    transition: all 600ms ease-in-out;
}

#login .current-user .section-heading {
    display: inline;
}

#login .current-user > * {
    transition: all 600ms ease-in-out;
}

#login .current-user p {
    font-size: 1.25rem;
    font-weight: 500;
}

#login .current-user:hover {
    border: 2px solid var(--gold-color);
    transform: scale(1.01);
}
