#products {
    min-height: 100vh;
}

#products .products {
    margin: 0 auto;
    padding: 0 5rem;
}

#products .products ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin: 0 auto;
}

#products .products li {
    transition: all 800ms ease-in;
}

#products .products li:hover {
    transform: scale(1.01);
}

#products .product-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: solid var(--medium-color) 0.2rem;
    background: var(--dark-color);
    border-radius: 1rem;
    margin: 2rem 5rem;
    transition: all 500ms ease-in-out;
}

#products .product-card:hover {
    border: solid var(--gold-color) 0.2rem;
}

#products .product-card > * {
    margin: 0.25rem auto;
}

#products .products img {
    max-width: 25rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--dark-color);
}

#products .products h2 {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    display: inline-block;
}

#products .products h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 2.5px;
    border-radius: 1rem;
    background-color: var(--gold-color);
}

#products ul .product-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}

/* Individual Product Detail */

#product-detail {
    min-height: 100vh;
}

#product-detail .product-detail {
    margin: 1rem auto 0 auto;
    padding: 1rem 7.5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

#product-detail .product-detail img {
    max-width: 40rem;
    border-radius: 1rem;
    border: 0.2rem solid var(--dark-color);
    transition: all 600ms ease-in-out;
}

#product-detail .product-detail img:hover {
    border: 0.2rem solid var(--gold-color);
    transform: scale(1.01);
}

#product-detail .product-detail .product-info {
    margin: 1rem 0;
}

#product-detail .product-detail .product-info > * {
    display: flex;
    flex-direction: column;
}

#product-detail .product-detail .product-info > *:not(:first-child) {
    margin-top: 1.5rem;
}

#product-detail .product-detail .product-info h2 {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    color: var(--black-color);
    display: inline-block;
}

#product-detail .product-detail .product-info h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 2.5px;
    border-radius: 1rem;
    background-color: var(--gold-color);
}

#product-detail .product-detail .product-info p {
    font-weight: 400;
}

#product-detail .product-detail .product-info p::after {
    content: '';
    display: block;
    margin-top: 1.5rem;
    width: 100%;
    height: 2.5px;
    border-radius: 1rem;
    background-color: var(--gold-color);
}

/* Product Form */
#product-form {
    min-height: 100vh;
}

#product-form .logo-heading {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    white-space: nowrap;
}

#product-form .product-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0 15rem;
    border: 2px solid var(--grey-color);
    border-radius: 0.5rem;
    background-color: var(--dark-color);
    transition: all 800ms ease-in-out;
}

#product-form .product-form:hover {
    border: 2px solid var(--gold-color);
}

#product-form .product-form .product-input-fields {
    display: grid;
    margin: 0 auto;
    padding: 1rem;
}

#product-form .product-form .input-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.5rem auto;
}

#product-form .product-form .input-fields label {
    display: flex;
    margin: auto 0;
    font-size: 1.5rem;
}

#product-form .product-form .input-fields input {
    font-size: 1.25rem;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--grey-color);
    background-color: var(--dark-color);
    color: var(--white-color);
    transition: all 500ms ease-in-out;
}

#product-form .product-form .input-fields input:hover {
    border: 0.2rem solid var(--gold-color);
}

#product-form .product-form button {
    margin: 1rem auto;
    font-size: 1.5rem;
}
