#checkout {
    min-height: 100vh;
    margin: 10rem 0;
}

#checkout .stripe-form {
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#checkout form {
    display: grid;
    margin: auto;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 2px solid var(--grey-color);
    transition: all 600ms ease-in-out;
}

#checkout form:hover {
    border: 2px solid var(--gold-color);
}

#checkout form > * {
    margin: 0.5rem 0;
}

#checkout .stripe {
    background-color: var(--dark-color);
    color: var(--light-color);
}

#link-authentication-element input {
    color: var(--black-color);
}

#payment-message {
    color: var(--light-color);
    font-size: 1rem;
    text-align: center;
}

#payment-element {
    color: var(--light-color);
}

/* Buttons and links */
.stripe button {
    display: inline-block;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius: 0.5rem;
    border: 2px solid var(--grey-color);
    cursor: pointer;
    transition: all 500ms ease;
    padding: 0.5rem 2rem;
}

.stripe button:hover {
    background-color: var(--gold-color);
    color: var(--dark-color);
}

.stripe button:disabled {
    opacity: 0.5;
    cursor: default;
}

.stripe button span {
    font-size: 1.1rem;
    transition: all 500ms ease;
}

.stripe button:hover span {
    color: var(--dark-color);
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
    border-radius: 50%;
}

.spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.spinner:before,
.spinner:after {
    position: absolute;
    content: '';
}

.spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #5469d4;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #5469d4;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    form {
        width: 80vw;
        min-width: initial;
    }
}
