@import 'index.css';

@import './navigation/header.css';
@import './navigation/footer.css';
@import './navigation/sideNavbar.css';
@import './navigation/toTop.css';

@import './products/products.css';

@import './home/hero.css';
@import './home/benefits.css';

@import './cart/cart.css';
@import './cart/stripe.css';
@import './cart/success.css';

@import './login/login.css';

@import './about/about.css';

.App {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 968px) {
    .benefits-list {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(4, 1fr) !important;
        margin: 0 auto !important;
    }

    #products .products {
        padding: 0 !important;
    }

    #products .products ul {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(4, 1fr) !important;
        margin: 0 auto !important;
    }

    #products .product-card {
        padding: 1rem 0.25rem !important;
        margin: 1rem 2rem !important;
    }

    #products .products img {
        max-width: 20rem !important;
    }
}
